:root {
    font-family: Inter;

    scroll-behavior: smooth;

    /* Colors */
    --color-emphasis: #F00A64;
    --color-secondary: cornflowerblue;
    --color-tertiary: aliceblue;
    --text-color: #444;

    /* Consistent visual ratio */
    --visual-ratio: 1.45; /* Golden ratio would be 1.618 */

    /* Font sizes */
    --font-xs: 1rem;
    --font-sm: calc(var(--visual-ratio) * var(--font-xs));
    --font-md: calc(var(--visual-ratio) * var(--font-sm));
    --font-lg: calc(var(--visual-ratio) * var(--font-md));
    --font-xl: calc(var(--visual-ratio) * var(--font-lg));
    --font-xxl: calc(var(--visual-ratio) * var(--font-xl));

    /* Spacing */
    --spacing-xs: 1rem;
    --spacing-sm: calc(var(--visual-ratio) * var(--font-xs));
    --spacing-md: calc(var(--visual-ratio) * var(--font-sm));
    --spacing-lg: calc(var(--visual-ratio) * var(--font-md));
    --spacing-xl: calc(var(--visual-ratio) * var(--font-lg));
    --spacing-xxl: calc(var(--visual-ratio) * var(--font-xl));

    /* As per https://baymard.com/blog/line-length-readability */

    /* word-spacing: 0.16em;
    letter-spacing: 0.12em; */

    color: var(--text-color);

    background-color: white;


    margin: 0;
    width: 100%;

}

li, p {
    font-size: var(--font-xm);
    line-height: 1.5em;
/*     margin: 0 var(--spacing-md);
 */}

.inline-emphasis {
    font-weight: bold;
    font-size: var(--font-md);
    color: var(--color-emphasis);
}

hr + p {
    margin-top: var(--spacing-lg);
}

h3 + p,
h3 + ul {
    margin-top: var(--spacing-md);
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

header, footer {
    display: flex;
    justify-content: space-around;
}

header {
    position: sticky;
    top: 0;
    transition: transform 0.5s ease;
    z-index: 1;
    background-color: white;
    border-bottom: var(--spacing-xs) solid var(--color-emphasis);
}

.hide-header {
    transform: translateY(-100%);
}

nav {

    menu {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0;

        li {

            a {
                color: var(--color-emphasis);
                font-family: Sigmar;
                font-size: var(--font-md);
            }
        }
    }
}

main {
    display: flex;
    justify-content: center;

    article {
        margin-bottom: var(--spacing-lg);
        width: 64rem
    }
}

article {

    max-width: 100%;

    section {
        display: flex;
        flex-direction: column;
        align-items: start;

        max-width: 65ch;
        margin: var(--spacing-md) auto;

        h3 {
            align-self: flex-start;
        }

        h3:first-child {
            margin-top: 0;
        }
    }
}

hr {
    width: 80%;
    margin: 0 auto;
    border: none;
    border-top: calc(var(--spacing-xs) / var(--visual-ratio)) solid;
    border-image-source: url(hr.svg);
    border-image-slice: 100 0;
}

ul {
    margin: var(--spacing-md);
    list-style: none;
    padding: 0;
    
    li::before {
        position: absolute;
        color: var(--color-emphasis);
        content: "•";

        font-size: var(--font-sm);
        transform: translate(calc(var(--font-md) * -1), -18%)
     
    }

    li {
        margin-left: var(--spacing-md)
    }

    li + li {
        margin-top: var(--spacing-xs)
    }
}


h1, h2, h3, h4, h5, h6 {
    font-family: Sigmar;
    display: flex;
    justify-content: flex-start;
    text-align: left;
    color: var(--color-emphasis);
    margin-bottom: 0;
}

h1 {
    font-size: var(--font-xxl);
    display: inline-block;
    max-width: min-content;
    text-align: right;
    margin: 0 var(--spacing-md);
}

h2 {
    font-size: var(--font-xl);
}

h3 {
    font-size: var(--font-lg);
}

h4 {
    font-size: var(--font-md);

}

h5 {
    font-size: var(--font-sm);
}

h6 {
    font-size: var(--font-xs);
}

article:first-of-type, article:target {
    display: block;
}

article, article:has(~ article:target) {
    display: none;
    margin: var(--spacing-md);
    scroll-margin-top: 9001rem;
}

ol {
    list-style: none;
    counter-reset: item;
    margin: var(--spacing-md);
    padding: 0;

    & > li {
        margin: 0;
    }

    & > li + li {
        margin-top: var(--spacing-md);
    }

    summary {
        display: inline-flex;
        align-items: flex-start;

        &::before, &::after {
            width: var(--font-md);
            color: var(--color-emphasis);
            font-family: Sigmar;
            font-size: var(--font-md);
        }

        &::before {
            content: counter(item) ".";
            counter-increment: item;
        }

        &::after {
            content: ">";
            transition: transform 0.2s;
        }

        [open] &::after {
            transform: translateY(12%) rotate(90deg) ;
        }  
        
        h4 {
            margin: 0 var(--spacing-md);
        }
    }

    section {
        margin: var(--spacing-md);
        margin-bottom: 0;
        margin-left: calc(2 * var(--spacing-md));
    
        ul, h5, p {
            margin-top: 0;
            margin-left: 0;
            margin-bottom: 0;
        }
        
        h5 {
            margin: var(--spacing-md) 0;
        }

        p + ul {
            margin-top: var(--spacing-md);
        }

        li > ul {
            margin-top: var(--spacing-xs);
        }

        li {
            margin-right: 0;
        }
    }
}

footer {
    border-top: var(--spacing-xs) solid var(--color-emphasis);
    
    a {
        color: var(--color-emphasis);
        font-family: Sigmar;
        font-size: var(--font-md);
        margin: 1rem auto;
    }
}

img {
    height: auto;
    max-width: 90%;
}

@media (pointer: coarse) {
    
    body > * {
        width: 100%;
    }
    
    h1 {
        font-size: var(--font-xl);
        text-align: left;
    }

    /* img {
        display: none;
    } */

    footer {
        width: 100%;
    }
}
